@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "robo";
  src: url("./fonts/robo.ttf");
}
.font-robo {
  font-family: "robo";
  letter-spacing: 0.1em;
}
.nav-text:hover {
  text-shadow: 2px -4px 17px rgb(228 255 0);
}
.lh-0-5 {
  line-height: 0.5 !important;
}
.lh-1 {
  line-height: 1 !important;
}
.lh-1_1 {
  line-height: 1.1 !important;
}
.lh-1_2 {
  line-height: 1.2 !important;
}
.lh-1_3 {
  line-height: 1.3 !important;
}
.lh-1_4 {
  line-height: 1.4 !important;
}
.lh-1_5 {
  line-height: 1.5 !important;
}
.lh-1_6 {
  line-height: 1.6 !important;
}
.lh-1_7 {
  line-height: 1.7 !important;
}
.lh-1_8 {
  line-height: 1.8 !important;
}
.lh-1_9 {
  line-height: 1.9 !important;
}

@layer base {
  :root {
    scroll-behavior: smooth;
  }

  .container-wrapper {
    @apply max-w-[1140px] min-[1440px]:max-w-[1300px] w-full mx-auto px-4 lg:px-2;
  }
}
body {
  background-color: #000;
  color: #fff;
}

.font-mon {
  font-family: "Montserrat", sans-serif;
}
.hero-main {
  background-image: url("images/bot.png");
  background-size: contain;
  background-position: center center;
  background-position-x: 32%;
  background-repeat: no-repeat;
}

.road-bg {
  background-image: url("../public/images/road-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.show-xl {
  -webkit-box-shadow: 3px 1px 31px 3px rgba(228, 255, 0, 0.69);
  -moz-box-shadow: 3px 1px 31px 3px rgba(228, 255, 0, 0.69);
  box-shadow: 3px 1px 31px 3px rgba(228, 255, 0, 0.69);
}
.show-xxl:hover{
  -webkit-box-shadow: 3px 1px 31px 3px rgba(228, 255, 0, 0.69);
  -moz-box-shadow: 3px 1px 31px 3px rgba(228, 255, 0, 0.69);
  box-shadow: 3px 1px 31px 3px rgba(228, 255, 0, 0.69);
}

.glow-anime {
  animation: anim-glow 2s ease infinite;
}

.road-card{
  background: rgb(41,50,73);
background: linear-gradient(0deg, rgba(41,50,73,1) 20%, rgba(0,0,0,1) 100%);
}

@keyframes anim-glow {
  0% {
    box-shadow: 0 0 rgba(#61ef61, 1);
  }
  100% {
    box-shadow: 0 0 10px 8px transparent;
    border-width: 2px;
  }
}


.floating {
  animation-name: floating;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.anime2 {
  animation: animName 9s linear infinite;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

@keyframes animName {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 768px) {
  .hero-main {
    background-image: url("../public/images/bot.png");
    background-size: cover;
    background-position: center;
    background-position-x: 96%;
    background-repeat: no-repeat;
  }
}
